

.Phonetic .fa-volume-up {
  
 border: 1px solid grey;
  border-radius: 50px;
  font-size: 16px;
  padding: 10px 9px;
  margin:5px 10px;
  transition:all 150ms ease-in-out;


}

.Phonetic .fa-volume-up:hover {
  cursor: pointer;
  background:#333;
  color:white;

}

    
   
    